.btns {
    display: inline-flex;
    align-items: center;
    background-color: @black;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    cursor: pointer;
    box-sizing: border-box;
    padding: 15px 40px;
    outline: none;
    font-family: @font1;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    &:hover,
    &:active {
    background-color: @red;
        }
        
    }