.contacts {
   &__container {
        .container();
   }

&__list {
        display: flex;
    }

&__card {
    flex-direction: column;
    box-sizing: border-box;
    max-width: 464px;
    max-height: 470px;
    justify-content: space-between;
}

&__card-square {
    width: 110px;
    height: 110px;
    background-color: @black;
    z-index: 2;
   
}




}

